---
# Really want to inherit checks - but Clang-tidy 10 doesn't support that.
# abseil-*, altera-*, android-*, fuchsia-*, hicpp-*, llvmlibc-*, zircon-*: Applicable to specific code bases only, not this one.
# objc-*: Not an Objective C codebase
# cppcoreguidelines-owning-memory: We don't want to use gsl.
# cppcoreguidelines-pro-type-vararg triggers on all char* which we can't avoid
# google-runtime-references: Triggers incorrectly
# llvm-header-guard: is not the style we use
# misc-no-recursion: We do not mind recursion (and we need to recurse)
# readability-function-cognitive-complexity: Too many asserts trigger this one unnecessarily
InheritParentConfig: true
Checks: >-
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers
...
